fastapi
uvicorn[standard]
python-multipart

langchain==0.2.14
langchain-core==0.2.32
langchain-community==0.2.12
langchain-text-splitters==0.2.2

langchain-groq==0.1.9
langchain-google-genai

pinecone

PyPDF
python-dotenv
pydantic
requests
tqdm
loguru
sentence-transformers